{{ define "entrystyle" }}
<style>
table#ScoreTable {
	display: inline-block;
}
table#ActiveTable {
	float: left;
}
table {
    border-collapse: collapse;
}
th, td, caption {
    border: 1px solid black;
    border-collapse: collapse;
    th, caption {
    text-align: left;
	}
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}
</style>
{{ end }}

{{ define "gamestyle" }}
<style>

</style>
{{ end }}